{% set alias = __SELF__.alias %}
{% set uploader_enable = __SELF__.property('uploader_enable') %}
{% set uploader_label = __SELF__.property('uploader_label') %}
{% set max_files = __SELF__.property('maxFiles') %}
{% set max_filesize = __SELF__.property('maxFileSize') %}
{% set max_totalsize = __SELF__.property('maxTotalSize') %}
{% set allowed_filetypes = __SELF__.property('fileTypes') %}

{% if uploader_enable %}
    <file-pond
        max-files="{{ max_files }}"
        max-size="{{ max_filesize }}"
        max-list-size="{{ max_totalsize }}"
        accept="{{ allowed_filetypes|keys|join(',') }}"
        noattribution
    >
        <input type="file" name="files[]" multiple />
    </file-pond>

    {% put scripts once %}
        <script type="importmap">
            {
                "imports": {
                    "filepond": "https://unpkg.com/filepond@5.0.0-beta.23/cdn/index.js",
                    "filepond/": "https://unpkg.com/filepond@5.0.0-beta.23/cdn/"
                }
            }
        </script>

        <script type="module">
            import { defineFilePond } from 'filepond';
            import { locale } from 'filepond/locales/en-gb.js';
            import { ListCountValidator } from 'filepond/extensions/list-count-validator.js';
            import { FileSizeValidator } from 'filepond/extensions/file-size-validator.js';
            import { ListSizeValidator } from 'filepond/extensions/list-size-validator.js';
            import { FileMimeTypeValidator } from 'filepond/extensions/file-mime-type-validator.js';

            defineFilePond({
                locale,
                extensions: [
                    ListCountValidator,
                    FileSizeValidator,
                    ListSizeValidator,
                    FileMimeTypeValidator,
                ],
            });
        </script>
    {% endput %}
{% endif %}
