<div class="alert alert-{{ type }}">
    <button type="button" class="alert-close" onclick="this.parentElement.remove()">✖</button>

    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}

    {% if content %}
        <p>{{ content }}</p>
    {% endif %}

    {% if list %}
        <ul>
            {% for item in list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>


<script>
    {% if status == 'success' %}
        var form = document.querySelector('[data-request="{{ __SELF__.alias }}::onFormSubmit"]');
        // Reset form
        {% if __SELF__.property('reset_form') %}
            {% if __SELF__.property('uploader_enable') %}
                if (typeof pond !== "undefined") {
                    pond.removeFile();
                }
            {% endif %}
            form.reset();
        {% endif %}
    {% endif %}

    // Display errors in a JS objects
    {% if jerrors %}
        var jerrors = JSON.parse('{{ jerrors|raw }}');
    {% endif %}

    // Display Js on success and JS on error scripts
    {% if jscript %}
        {{ jscript|raw }}
    {% endif %}
</script>
