{% if (__SELF__.recaptcha_enabled) %}
    <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.recaptcha_site_key }}" data-theme="{{ __SELF__.property('recaptcha_theme') }}" data-type="{{ __SELF__.property('recaptcha_type') }}" data-size="{{ __SELF__.property('recaptcha_size') }}" ></div>
{% elseif (__SELF__.recaptcha_misconfigured) %}
    <div class="alert alert-warning">
        <button type="button" class="alert-close" onclick="this.parentElement.remove()">✖</button>
        <p>{{ __SELF__.recaptcha_warn }}</p>
    </div>
{% endif %}